/* GERAIS */
body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.container .contatos, .container .conversa {
    float: left;
    box-sizing: border-box;
}

.imagem img {
    width: 100%;
    border-radius: 30px;
}

/* CONTATOS */
.contatos {
    width: 22%;
    height: 100%;
    border-right-style: solid;
    border-right-color: #cecece;
    border-right-width: .1;
}

.contatos ul {
    list-style: none;
}

.contatos li {
    cursor: pointer;
}

.contatos li.selecionado .contato {
    background-color: #e8e8e8;
}

.contatos li .contato {
    height: 63px;
    border-bottom-style: solid;
    border-bottom-color: #e8e8e8;
    border-bottom-width: .1;
}

/* CONTATO */
.contato .info {
    float: left;
    padding-top: 15px;
    padding-left: 10px;
    height: 76%;
}

.contato .imagem {
    float: left;
    width: 49px;
    margin-left: 10px;
    margin-top: 10px;
}

/* CONVERSA */
.conversa {
    width: 78%;
    height: 100%;
}

.conversa .caixa-conversa, .conversa .caixa-mensagem {
    width: 100%;
}

.conversa .caixa-conversa {
    height: 80%;
    overflow: auto;
}

.conversa .caixa-mensagem {
    height: 20%;
    min-height: 84px;
    border-top-color: #cecece;
    border-top-style: solid;
    border-top-width: .1;
    box-sizing: border-box;
    background-color: #f8f8f8;
}


.conversa .caixa-mensagem textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    float: right;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 6px;
    height: 80%;
    width: 84%;
    padding: 10px;
}

.conversa .caixa-mensagem .imagem {
    float: left;
    width: 70px;
    padding-left: 30px;
    padding-top: 15px;
}

/* CAIXA DE CONVERSA */
.caixa-conversa .titulo {
    height: 63px;
    width: 100%;
    border-bottom-color: #cecece;
    border-bottom-style: solid;
    border-bottom-width: .1;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.caixa-conversa ul {
    list-style: none;
}

.caixa-conversa .mensagem {
    padding: 10px 30px;
}

.caixa-conversa .mensagem.recebida {
    text-align: left;
}

.caixa-conversa .mensagem.enviada {
    text-align: right;
}

.caixa-conversa .mensagem span {    
    border-radius: 5px;
    padding: 7px;
}

.caixa-conversa .mensagem.enviada span {
    position: relative;
    background-color: #ff5e80;
}

.caixa-conversa .mensagem.recebida span {
    position: relative;
    background-color: #e8eaff;
}

.caixa-conversa .mensagem.recebida span:after, 
.caixa-conversa .mensagem.enviada span:after {
    border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    border-width: 11px;
	margin-top: -11px;
}

.caixa-conversa .mensagem.enviada span:after {
    left: 100%;
	top: 50%;
	border-color: rgba(163, 174, 255, 0);
	border-left-color: #ff5e80;
}

.caixa-conversa .mensagem.recebida span:after {
    right: 100%;
	top: 50%;
	border-color: rgba(232, 234, 255, 0);
	border-right-color: #e8eaff;
}