<html>
    <head>
        <link rel="stylesheet" href="assets/css/login.css" />
    </head>
    <body>
        <ul class="pages">
            <li class="login page">
                <form action="/login" method="post" autocomplete="off">
                    <div class="form">
                        <h3 class="title">Qual o seu apelido?</h3>
                        <input class="usernameInput" type="text" maxlength="14" name="username" />
                    </div>
                    <input type="submit" style="visibility: hidden"/>
                </form>
            </li>
        </ul>
    </body>
</html>